version: '3'
services:

  db:
    image: mysql:5.7.24
    container_name: "${DOCKER_PREFIX}-db"
    restart: unless-stopped
    tty: true
    ports:
      - 3306:3306
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    volumes:
      - ./docker-conf/mysql/my.cnf:/etc/mysql/my.cnf
      - dbdata:/var/lib/mysql/
    networks:
      - node-network

networks:
  node-network:
    driver: bridge
volumes:
  dbdata:
    driver: local